body {
    display: flex;
    justify-content: center;
}

img {
    width: 250px;
    height: 200px;
    border-radius: 15px;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
}

.red {
    color:red;
}

.blue {
    color:blue
}

button {
    height: 30px;
    width: 80px;
    border-radius: 15px;
}

.text {
    font-size:10px;
}

.rborder {
    border: 2px red solid;
    border-radius: 15px;
    padding: 5px;
    margin-right: 7px;
}

.bborder {
    border: 2px blue solid;
    border-radius: 15px;
    padding: 5px;
}

section {
    margin-top: 100px;
    border: 10px gold solid;
    width: 260px;
    padding: 10px;
    border-radius: 15px;
}